# incluir también las dependencias comunes
-r requirements.txt

# unit testing y coverage
pytest
pytest-cov
pytest-html

# analisis estático
flake8
flake8-html
mypy[reports]
ruff

# informes
coveralls
genbadge[coverage,tests]
