{% macro palabra_adivinar(action="", texto_boton="Iniciar Juego") -%}
    <form action="{{ action }}" method="post">
        <label for="palabra">Ingresa la palabra para adivinar:</label>
        <input type="password" id="palabra" name="palabra" pattern="[a-zA-ZñÑ ]+" title="Solo letras y espacios están permitidos" required>
        <button type="submit" class="btn btn-primary">{{ texto_boton }}</button>
    </form>
{%- endmacro %}

{% macro juego(juego, resultado, action="") -%}
    <p>Intentos restantes: {{ juego.intentos_disponibles() }}</p>
    <p>Letras usadas: {{ ' '.join(sorted(juego.letras_usadas)) }}</p>
    <p>Progreso de la palabra: {{ juego.mostrar_progreso_palabra() }}</p>

    <!-- Mostrar imagen según el número de intentos restantes -->
    <img src="{{ url_for('static', filename='images/intento_' ~ juego.intentos_disponibles() ~ '.png') }}" alt="Estado del juego" style="width: 200px; height: auto;">

    {% if juego.acerto %}
        <p>¡ACERTASTE!</p>
    {% elif juego.intentos_disponibles() == 0 %}
        <p>¡SE TE ACABARON LOS INTENTOS!</p>
    {% endif %}

    {% if not juego.acerto and juego.intentos_disponibles() > 0 %}
        <form action="{{ action }}" method="post">
            <label for="intento">Ingrese letra o palabra:</label>
            <input type="text" id="intento" name="intento" required>
            <button type="submit" class="btn btn-primary">Arriesgar</button>
        </form>
    {% endif %}

    {% if resultado %}
        <p>Resultado: {{ resultado }}</p>
    {% endif %}
{%- endmacro %}
