on: push
name: run-unit-tests
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install pytest
      run: |
        python -m pip install --upgrade pip
        pip install pytest flask

    - name: Run tests
      run: pytest
